{{#section 'head'}}
  <link rel="stylesheet" href="/css/burger.css">
  <script src="/js/burger.js"></script>
{{/section}}

<div class="shadow"></div>

<div class="side-overlay">

  <div id="burger-toggle-btn"></div>

  <div class="burger-list-container">
    <h1 class="burger-title">{{#if list}}Rediger liste{{else}}Opprett liste{{/if}}</h1>
    <img id="add-image" src="/imgs/icon/Legg til bilde.png" alt="Legg til bilde">
    
    <span>
      <label>Navn på listen</label>
      <input type="text" class="burger-list-name" placeholder="Some name" value="{{#if list}}{{list.name}}{{/if}}">
    </span>
    
    {{#if list}}
      <button class="list-burger-save-btn" id="list-update-btn"></button>
    {{else}}
      <button class="list-burger-save-btn" id="list-add-btn"></button>
    {{/if}}

  </div>
  {{#if list}}
    <button id="delete-btn">Slett Listen</button>
  {{/if}}
</div>