
  <div class="shadow"></div>
  <div class="side-overlay">
{{#each upcoming}}<div class="shoppinglist-box">
      {{!-- <div class="list-info">
        <div class="list-date">22.12.17</div>
        <div class="list-name">Julie 5 år!</div>
        <div class="list-cost">240kr</div>
      </div>--}}
        <div class="list-info">
            <div class="list-date">{{this.date}}</div>
            <div class="list-name">{{this.name}}</div>
        </div>
    </div>{{/each}}
  </div>

  <div class="burger">
    <!--legg inn ikon-->
    <div></div>
    <div></div>
    <div></div>
  </div>