 {{#section 'head'}}
  <link rel="stylesheet" href="/css/categories.css">
  <link rel="stylesheet" href="/css/product-item.css">
  <script type="text/javascript" src="/js/category.js"></script>
{{/section}}

<div class="category-container">
  <div class="icon-button">
    <img class="pluss-icon" src="/imgs/icon/AddItemsPlusIcon.png">
    <img class="button-white" src="/imgs/icon/AddProductBlack.png" alt="">
    <img class="add-product-button" src="/imgs/icon/AddProductWhite.png" alt="">
  </div>
  <div class="information-view">
    <div class="inspiration-header">
      <img class="inspiration-img"src="/imgs/inspiration/insp-med-tekst.png" alt="">
    </div>
    <div class="information-header">
      <img class="back-arrow" src="/imgs/icon/Pil.png" alt="">
      <h3 class="search-title">Varer</h3>
      <img class="inspiration-filter" id="product-filter-open-btn" src="/imgs/icon/filter-knapp.png" alt="">
    </div>
    <div class="search-container">
      <img class="search-img" src="/imgs/icon/sokeglass.png" alt="">
      <input type="text" id="search-t" placeholder="Søk i tusenvis av varer">
    </div>
    <div class="categories">
      <ul class="category-list">
        <li class="inspiration">Inspirasjon</li>
        <li>Dine Varer</li>
        {{#each categories}}
          <li class="list-item" data-categoryid={{this.id}}>{{this.name}}</li>
        {{/each}}
      </ul>
    </div>
  </div>
</div>
