{{#section 'head'}}
    <link rel="stylesheet" href="/css/filter-menu.css">
    <script src="/js/filter.js"></script>
{{/section}}

    <div class="filter-overlay">
        <div class="filter-list-container">

            <h1 class="filter-title">Filter</h1>


            <div class="filter-container">
            {{#each filter}}
                <label>{{this.name}}</label>
                <div class="filter">
                    {{#each this.children}}
                        
                        {{#condition this.type '==' 'slider'}}
                            <input type="range" min="1" max="100" value="{{this.value}}" class="slider">
                        {{/condition}}
                        
                        {{#condition this.type '==' 'checkbox'}}
                            <input type="checkbox" />
                            <label>{{this.name}}</label>
                        {{/condition}}
                    
                    {{/each}}
                </div>
            {{/each}}
            </div>

            <img src="/imgs/icon/V-gra.png"/>

        </div>
    </div>