<footer>
  <div class='handlekurv-menu'>
    <p class='handlekurv-name'>Handlekurven er tom</p>
    <p class='handlekurv-price'>399,-</p>
  </div>

  <div class="nav-menu">
    <a href="/">Aktuellt</a>
    <a>Varer</a>
    <a href="/kalender">Planlegger</a>
    <a>Oppskrifter</a>
    <a>Profil</a>
  </div>
</footer>
