<footer>
  <div class='handlekurv-menu'>
    <img id="handlekurv-icon" src="/imgs/icon/Handlekurv.png" alt="">
    <p class='handlekurv-name'>Handlekurven er tom</p>
    <p class='handlekurv-price'>kr 0,00</p>
  </div>

  <div class="nav-menu">
    <a href="/">Aktuellt</a>
    <a>Varer</a>
    <a href="/kalender">Planlegger</a>
    <a>Oppskrifter</a>
    <a>Profil</a>
  </div>
</footer>
