<footer>
  <div class='footer-menu'>
    <p class='footer-text-output'>
      <img id="handlekurv-icon" src="/imgs/icon/handleliste-burger-large.png" alt="">
      Handlelisten er tom</p>
      <span></span>
    <p class='footer-price'>kr 0,00</p>
  </div>

  <div class="nav-menu">
    <a href="/">Aktuellt</a>
    <a>Varer</a>
    <a href="/kalender">Planlegger</a>
    <a>Oppskrifter</a>
    <a>Profil</a>
  </div>
</footer>
