<div class="planner-grid">
  <div class="planner-header">

    <span></span>
    <img class="img" id="pil-icon" src="/imgs/icon/Pil.png" alt="" data-month="{{month}}">
    <h1 class="header-text">Handleliste</h1>
    <img class="img" id="chat-icon" src="/imgs/icon/Chat.png" alt="">
    <img class="img" id="handleliste-icon" src="/imgs/icon/Handleliste.png" alt="">
  </div>
</div>
