<div class="planner-grid">
    <img class="img" id="pil-icon" src="/imgs/icon/Pil.png" alt="" data-month="{{month}}">
    <h1 class="header-text">Handleliste</h1>
    <img class="img" id="chat-icon" src="/imgs/icon/Chat.png" alt="">
</div>
<hr>
