<!DOCTYPE html>
<html lang="no">
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/sanitize.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/home.css">
  </head>
  <body>
    {{{page.title}}}
    {{{body}}}
  </body>
</html>
