<!DOCTYPE html>
<html lang="no">
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/sanitize.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/week.css">
    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"></script>
    {{{_sections.head}}}
  </head>
  <body>
    {{{body}}}
  </body>
</html>
