{{#section 'head'}}
  <link rel="stylesheet" href="./css/checkout.css" />
{{/section}}

{{#> layout }}

  {{#progress 2 3 'chechout-prog'}}{{/progress}}

  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>

  <input >

{{/layout}}
