{{#section 'head'}}
  <link rel="stylesheet" href="./css/checkout.css" />
{{/section}}

{{#> layout }}

  {{#progress 2 3 'chechout-prog'}}{{/progress}}

 <div id="wrapper">
  <div id="kort" class="boks">Kort</div>
  <div id="kortnummber"class="boks">kortnummber</div>
  <div id="kortinnhaver"class="boks">kortinnhaver</div>
  <div id="utlopsdato"class="boks">utløpsdato</div>
  <div id="total"class="boks">total</div>

 <div id="betaling">
  <input id="betaling-btn" type="button" value="Betaling">
</div>
</div>

{{/layout}}
