{{#section 'head'}}
  <link rel="stylesheet" href="./css/checkout.css" />
{{/section}}

{{#> layout }}

  {{#progress 2 3 'chechout-prog'}}{{/progress}}

 <div id="wrapper">
  <div id="Oversikt">Handlekurv Betal På vei</div>
  <div id="Kort" class="boks">Kort: Visa</div>
  <div id="Kortnummber"class="boks">kortnummer: 1234 5457 8943 1290</div>
  <div id="Kortinnhaver"class="boks">kortinnhavers navn: Mikkel Jensen</div>
  <div id="Utlopsdato"class="boks">utløpsdato: 01/19 CVC: 898</div>
  <div id="Total"class="boks">total: 36,00kr</div>

 <div id="betaling">
  <input id="betaling-btn" type="button" value="Betaling">
</div>
</div>

{{/layout}}
