{{#section 'head'}}
  <link rel="stylesheet" href="/css/home.css">
{{/section}}

{{#> layout }}

  <div class="grid-large">
    <img class="index-img" src="/imgs/inspiration/nullstress.png" alt="">
  </div>

{{/layout}}
