{{#section 'head'}}
  <link rel="stylesheet" href="/css/login.css">
{{/section}}

{{#> layout }}

<div class="login-container">

  <h1>Login</h1>

  <form action={{action}} method="POST">

    {{#if message}}
      <span class="message bad">{{message}}</span><br>
    {{/if}}

    <input type="email" name="email" placeholder="Epost-addresse">
    <input type="password" name="password" placeholder="Passord">
    <input type="submit" value="Login">
  </form>

</div>

 {{/layout}}