
{{#> layout }}

<form action={{action}} method="POST">

	{{#if message}}
		<span class="message bad">{{message}}</span><br>
	{{/if}}

	<input type="email" name="email"><br>
	<input type="password" name="password"><br>
	<input type="submit" value="Login">
</form>

 {{/layout}}