.buttons-container {
  position: relative;
  height: 5vh;
  width: 100%;
  display: grid;
  grid-template-columns: 40% auto 40%;
  grid-template-areas: "buttonImg numberOfItem buttonImg"; }

h1 {
  font-size: 2.1vh;
  font-family: "GT Walsheim Regular";
  font-weight: 300; }

.plus-minus-icon {
  grid-area: buttonImg numberOfItem; }

.number {
  grid-area: numberOfItem;
  text-align: center;
  z-index: 2; }
