.shadow {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #333;
  opacity: 0;
  z-index: 999;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
  pointer-events: none; }
  .shadow.show {
    opacity: 0.05; }

.side-overlay {
  position: fixed;
  height: 100%;
  width: 59%;
  background: white;
  border-left: 1px solid #d7d7d2;
  top: 0;
  right: -59%;
  z-index: 1000;
  -webkit-transition: right 500ms ease-in-out;
  transition: right 500ms ease-in-out; }
  .side-overlay .burger-choice {
    display: grid;
    grid: auto/repeat(2, 1fr);
    text-align: center;
    font-size: 2em; }
    .side-overlay .burger-choice .active {
      color: black;
      background: #f0f0ec; }
  .side-overlay h2 {
    margin: 0 10%;
    font-size: 2vh;
    border: 2px solid #f0f0ec;
    border-radius: 10px;
    -webkit-transition: 200ms all;
    transition: 200ms all; }
  .side-overlay.show {
    right: 0; }
  .side-overlay #burger-toggle-btn {
    position: fixed;
    z-index: 1005;
    top: 3.3vh;
    right: 3.5vh;
    width: 3.5vh;
    height: 3.5vh;
    background-image: url("/imgs/icon/Handleliste.png");
    background-size: cover;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out; }
    .side-overlay #burger-toggle-btn.close {
      background-image: url("/imgs/icon/Kryss ut.png");
      height: 40px;
      width: 40px; }

.shoppinglist-hidden {
  opacity: 0;
  display: none; }

.shoppinglist-container {
  opacity: 1;
  width: 90%;
  margin: 20px auto;
  font-size: 1.7vh;
  background: #f0f0ec;
  border-radius: 10px;
  -webkit-transition: 200ms all;
  transition: 200ms all; }
  .shoppinglist-container .shoppinglist-header {
    height: 2em;
    position: relative;
    background: #413746;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px; }
    .shoppinglist-container .shoppinglist-header .icon {
      position: absolute;
      right: 10px;
      height: calc(100% - 20px);
      margin: 10px; }
  .shoppinglist-container .list-date {
    padding-top: 10px;
    margin-left: 15px;
    color: #9B9B9B; }
  .shoppinglist-container .list-name {
    margin-left: 15px;
    padding-bottom: 10px; }

.container.overlay {
  -webkit-filter: blur(3px);
          filter: blur(3px); }

.burger {
  position: absolute;
  height: 50px;
  width: 70px;
  right: 60px;
  z-index: 0;
  -webkit-transition: z-index 200ms ease-in 150ms;
  transition: z-index 200ms ease-in 150ms; }
  .burger.close {
    z-index: 1001; }

.burger-title {
  font-size: 2.7em;
  margin-left: 10%; }

.burger-list-container {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-rows: 1fr 4fr 2fr 3fr 2fr;
  grid-template-areas: "title" "add-img" "name" "empty" "save-btn";
  grid-gap: 2vh;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 7vh;
  font-size: 2vh; }
  .burger-list-container .burger-title {
    grid-area: title;
    margin: 0;
    font-size: 3rem; }
  .burger-list-container .list-burger-save-btn {
    grid-area: save-btn;
    background: none;
    border: none;
    padding: 0;
    background-image: url("/imgs/icon/V-gra.png");
    background-size: cover;
    height: 150px;
    width: 155px; }
    .burger-list-container .list-burger-save-btn.save {
      background-image: url("/imgs/icon/V-lilla.png"); }
  .burger-list-container span {
    grid-area: name;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
    .burger-list-container span label {
      font-size: 2.5rem; }
    .burger-list-container span input[type="text"] {
      width: 100%;
      height: 50px;
      background: none;
      border: none;
      border-bottom: 0px solid #ffa51e;
      text-overflow: ellipsis;
      text-align: center;
      outline: none;
      -webkit-transition: all 300ms cubic-bezier(0.28, 0.69, 0.51, 0.87);
      transition: all 300ms cubic-bezier(0.28, 0.69, 0.51, 0.87); }
      .burger-list-container span input[type="text"]:focus {
        border-bottom-width: 4px; }

#delete-btn {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100px;
  width: 100%;
  background-color: #ce4444;
  color: #333;
  font-size: 2rem;
  font-weight: bold;
  border: none; }
