.shadow {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #333;
  opacity: 0;
  z-index: 999;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out; }
  .shadow.show {
    opacity: 0.05; }

.side-overlay {
  position: fixed;
  height: 100%;
  width: 59%;
  background: white;
  border-left: 1px solid #d7d7d2;
  top: 0;
  right: -59%;
  z-index: 1000;
  -webkit-transition: right 500ms ease-in-out;
  transition: right 500ms ease-in-out; }
  .side-overlay.show {
    right: 0; }
  .side-overlay .shoppinglist-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 150px auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 90%;
    height: 190px;
    background-color: #f0f0ec;
    border-radius: 20px;
    font-size: 1.7em;
    color: #d7d7d2; }
    .side-overlay .shoppinglist-box .list-info {
      margin-left: 12px; }
    .side-overlay .shoppinglist-box .list-name {
      color: #2d2832;
      font-size: 2.3rem;
      margin: 10px 0; }
    .side-overlay .shoppinglist-box .image-container {
      height: 125px;
      width: 125px;
      margin-right: 40px;
      border-radius: 50%;
      overflow: hidden; }

.container.overlay {
  -webkit-filter: blur(3px);
          filter: blur(3px); }

.burger {
  height: 50px;
  width: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: absolute;
  top: 60px;
  right: 60px;
  font-size: 1em;
  color: #2d2832;
  z-index: 2000; }
  .burger div {
    width: 100%;
    height: 7px;
    background: #2d2832;
    border-radius: 3px;
    -webkit-transition: 300ms ease-in-out;
    transition: 300ms ease-in-out; }
  .burger.close div:nth-child(2) {
    opacity: 0; }
  .burger.close div:nth-child(1) {
    -webkit-transform: translateY(16.5px) rotate(45deg);
            transform: translateY(16.5px) rotate(45deg); }
  .burger.close div:nth-child(3) {
    -webkit-transform: translateY(-16.5px) rotate(-45deg);
            transform: translateY(-16.5px) rotate(-45deg); }

hr {
  width: 70%; }

.calendar-title {
  text-align: center;
  font-size: 2.2em;
  color: #ffc000;
  margin-top: 7%;
  font-weight: 600; }

.calendar-text {
  width: 100%;
  text-align: center;
  font-size: 2vh;
  margin-top: 17%;
  font-weight: bold; }

.month {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin: 40px 0; }

.navigator {
  margin: 10px 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.pointer {
  color: #ffc000;
  font-size: 3.5em;
  margin: 0 1em; }

#this-year, #this-month {
  font-size: 2.2em;
  color: #d7d7d2; }

#this-date {
  font-size: 5.5em;
  color: #2d2832;
  padding: 1.5%; }

.cal {
  display: grid;
  grid-template-areas: "corner weekdays" "weeks  month";
  grid-template-rows: 1fr 7fr;
  grid-template-columns: 1fr 5fr;
  margin: 100px auto;
  width: 90%;
  height: 80%;
  font-size: 3em;
  text-align: center; }
  .cal .week-label {
    grid-area: corner;
    color: #ffa51e;
    font-size: 2.5rem; }
  .cal .weeks {
    grid-area: weeks;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    color: #ffa51e;
    font-size: 2.5rem; }
  .cal .weekdays {
    grid-area: weekdays;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    color: #2d2832;
    font-size: 2.5rem; }
  .cal .date {
    grid-area: month;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);
    color: #2d2832; }
    .cal .date div {
      height: 2em;
      line-height: 2em; }
      .cal .date div.inactive {
        color: #d7d7d2; }
