hr {
  width: 100%; }

.calendar-title {
  text-align: center;
  font-size: 2.7em;
  color: black;
  font-weight: 100;
  margin-bottom: -2%; }

.calendar-text {
  width: 100%;
  text-align: center;
  font-size: 2.8vh;
  margin-top: 5%; }
  .calendar-text p {
    margin: 0 auto; }

.calendar-container {
  margin: 5%;
  width: 90%;
  height: 52%;
  background-color: #f0f0ec;
  position: absolute;
  border-radius: 20px; }

.date-containar {
  margin: 5% 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.pointer {
  margin: 0 auto;
  font-size: 2.9vh; }

#previous-pointer {
  margin-left: 10%; }

#next-pointer {
  margin-right: 10%; }

.date-head {
  margin: 0 auto;
  width: 100%;
  text-align: center;
  font-size: 2.5vh; }

.weekdays {
  grid-area: weekdays;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: grey;
  font-size: 2.3vh; }

#this-year, #this-month {
  font-size: 2.7vh;
  color: #d7d7d2; }

#this-date {
  font-size: 2.7vh;
  color: #2d2832;
  padding: 1.5%; }

.cal {
  display: grid;
  grid-template-areas: "corner weekdays" "weeks  month";
  grid-template-rows: 1fr 7fr;
  grid-template-columns: 1fr 5fr;
  margin: -30px auto;
  width: 90%;
  height: 67%;
  font-size: 2.3vh;
  text-align: center; }
  .cal .week-label {
    grid-area: corner;
    color: grey;
    font-size: 2.3vh; }
  .cal .weeks {
    grid-area: weeks;
    display: grid;
    grid: repeat(5, 1fr)/1fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: grey;
    font-size: 2.3vh; }
  .cal .date {
    grid-area: month;
    width: 100%;
    display: grid;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);
    color: #2d2832; }
    .cal .date div {
      height: 2em;
      line-height: 2em;
      position: relative; }
      .cal .date div.inactive {
        color: #d7d7d2; }
    .cal .date .has-list::after {
      position: absolute;
      content: '';
      width: 1vh;
      height: 1vh;
      background: #8255c3;
      bottom: -5px;
      left: 50%;
      border-radius: 1vh;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%); }
  .cal .today {
    position: absolute;
    background: #413746;
    color: white;
    border-radius: 5px;
    margin: 0 5px; }
