.side-overlay {
  position: fixed;
  height: 100%;
  width: 40%;
  background: red;
  top: 0;
  right: -40%;
  z-index: 1000;
  -webkit-transition: right 500ms ease-in-out;
  transition: right 500ms ease-in-out; }
  .side-overlay.show {
    right: 0; }

.container.overlay {
  -webkit-filter: blur(3px) brightness(90%);
          filter: blur(3px) brightness(90%); }

.burger {
  height: 50px;
  width: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: absolute;
  top: 60px;
  right: 60px;
  font-size: 1em;
  color: #2d2832; }
  .burger div {
    width: 100%;
    height: 7px;
    background: #2d2832;
    border-radius: 3px; }

hr {
  width: 70%; }

.calendar-title {
  text-align: center;
  font-size: 2.2em;
  color: #ffc000;
  margin-top: 7%;
  font-weight: 600; }

.calendar-text {
  width: 100%;
  text-align: center;
  font-size: 2vh;
  margin-top: 17%;
  font-weight: bold; }

.month {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin: 40px 0; }

.navigator {
  margin: 10px 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.pointer {
  color: #ffc000;
  font-size: 3.5em;
  margin: 0 1em; }

#this-year, #this-month {
  font-size: 2.2em;
  color: #d7d7d2; }

#this-date {
  font-size: 5.5em;
  color: #2d2832;
  padding: 1.5%; }

.cal {
  display: grid;
  grid-template-areas: "corner weekdays" "weeks  month";
  grid-template-rows: 1fr 7fr;
  grid-template-columns: 1fr 5fr;
  margin: 100px auto;
  width: 90%;
  height: 80%;
  font-size: 3em;
  text-align: center; }
  .cal .week-label {
    grid-area: corner;
    color: #ffa51e;
    font-size: 2.5rem; }
  .cal .weeks {
    grid-area: weeks;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    color: #ffa51e;
    font-size: 2.5rem; }
  .cal .weekdays {
    grid-area: weekdays;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    color: #2d2832;
    font-size: 2.5rem; }
  .cal .date {
    grid-area: month;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);
    color: #2d2832; }
    .cal .date div {
      height: 2em;
      line-height: 2em; }
      .cal .date div.inactive {
        color: #d7d7d2; }
