@font-face {
  font-family: 'GT Walsheim Regular', sans-serif;
  src: url("../fonts/GT-Walsheim-Regular.ttf"); }

body, html {
  font-family: 'GT Walsheim Regular', sans-serif;
  margin: 0;
  padding: 0; }

footer {
  background: #413746;
  color: #d7d7d2;
  font-size: 1.5em;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 9%; }
  footer a {
    cursor: pointer; }
  footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 70%;
    -webkit-box-shadow: 0 15px 75px rgba(0, 0, 0, 0.2);
            box-shadow: 0 15px 75px rgba(0, 0, 0, 0.2);
    position: relative;
    bottom: 0; }
    footer ul li {
      display: inline-block;
      text-align: center;
      padding: 10px 0;
      width: calc(20% - 3.6px); }
      footer ul li:hover {
        background: #d7d7d2;
        color: #413746; }
  footer .handlekurv-menu *, footer .handlekurv-menu {
    position: relative; }
  footer .handlekurv-menu {
    -webkit-box-shadow: 0 15px 75px rgba(0, 0, 0, 0.2);
            box-shadow: 0 15px 75px rgba(0, 0, 0, 0.2);
    background: #d7d7d2;
    width: 100%;
    top: 0;
    height: 30%;
    line-height: 150%; }
    footer .handlekurv-menu .handlekurv-name {
      left: 0; }
    footer .handlekurv-menu .handlekurv-price {
      right: 0; }
    footer .handlekurv-menu p {
      display: inline-block;
      width: 20%;
      text-align: center;
      padding: 0;
      margin: 0;
      color: #2d2832; }
