footer {
  background: #555;
  color: #d7d7d2;
  font-size: 1.5em;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 12%;
  display: grid;
  grid: 0.85fr 1.15fr / 1fr; }
  footer p {
    margin: 0; }
  footer.overlay {
    -webkit-filter: blur(3px);
            filter: blur(3px); }
  footer a {
    cursor: pointer;
    color: #d7d7d2;
    text-decoration: none; }
    footer a:visited {
      color: #d7d7d2;
      text-decoration: none; }
  footer .footer-menu {
    position: relative;
    width: 100%;
    display: grid;
    grid: 1fr/repeat(3, auto);
    background: #d7d7d2;
    color: #2d2832;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    footer .footer-menu #handlekurv-icon {
      margin: auto 10px; }
    footer .footer-menu .footer-text-output {
      position: absolute;
      left: 25px; }
    footer .footer-menu .footer-price {
      position: absolute;
      right: 25px; }
  footer .nav-menu {
    width: 100%;
    display: grid;
    text-align: center;
    grid: 1fr/repeat(5, 1fr);
    background: #2d2832; }
    footer .nav-menu a {
      width: 100%;
      height: 100%;
      -webkit-transition: 200ms all;
      transition: 200ms all;
      vertical-align: middle;
      line-height: 400%;
      font-size: 2.0vh; }
      footer .nav-menu a:hover {
        background: #d7d7d2;
        color: #413746; }

.planner-grid {
  position: relative;
  display: grid;
  margin-top: 3.5vh;
  grid: 12%/repeat(8, 1fr);
  text-align: center;
  grid-gap: 2.5%;
  grid-template-areas: "pil . text text text text chat handleliste"; }
  .planner-grid img {
    height: 100%;
    width: auto; }
  .planner-grid #pil-icon {
    grid-area: pil;
    margin: 0 auto; }
  .planner-grid .header-text {
    grid-area: text;
    font-size: 2em;
    margin: 0; }
  .planner-grid #chat-icon {
    grid-area: chat;
    margin: 0 auto; }
  .planner-grid #handleliste-icon {
    grid-area: handleliste;
    margin: 0 auto; }

.shadow {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #333;
  opacity: 0;
  z-index: 999;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
  pointer-events: none; }
  .shadow.show {
    opacity: 0.05; }

.side-overlay {
  position: fixed;
  height: 100%;
  width: 59%;
  background: white;
  border-left: 1px solid #d7d7d2;
  top: 0;
  right: -59%;
  z-index: 1000;
  -webkit-transition: right 500ms ease-in-out;
  transition: right 500ms ease-in-out; }
  .side-overlay .burger-choice {
    display: grid;
    grid: auto/repeat(2, 1fr);
    text-align: center; }
  .side-overlay h2 {
    margin: 0 10%;
    font-size: 1.7em;
    border: 2px solid #f0f0ec; }
  .side-overlay.show {
    right: 0; }

.shoppinglist-container {
  width: 90%;
  margin: 0 auto; }

.container.overlay {
  -webkit-filter: blur(3px);
          filter: blur(3px); }

.burger {
  height: 50px;
  width: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: absolute;
  top: 60px;
  right: 60px;
  font-size: 1em;
  color: #2d2832;
  z-index: 2000; }
  .burger div {
    width: 100%;
    height: 7px;
    background: #2d2832;
    border-radius: 3px;
    -webkit-transition: 300ms ease-in-out;
    transition: 300ms ease-in-out; }
  .burger.close div:nth-child(2) {
    opacity: 0; }
  .burger.close div:nth-child(1) {
    -webkit-transform: translateY(16.5px) rotate(45deg);
            transform: translateY(16.5px) rotate(45deg); }
  .burger.close div:nth-child(3) {
    -webkit-transform: translateY(-16.5px) rotate(-45deg);
            transform: translateY(-16.5px) rotate(-45deg); }

@font-face {
  font-family: 'GT Walsheim Regular';
  src: url("../fonts/GT-Walsheim-Regular.ttf");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'GT Walsheim Bold';
  src: url("../fonts/GT-Walsheim-Bold.ttf");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'GT Walsheim Medium';
  src: url("../fonts/GT-Walsheim-Medium.ttf");
  font-weight: 700;
  font-style: normal; }

body, html {
  font-family: 'GT Walsheim Medium';
  margin: 0;
  padding: 0;
  height: 88%;
  background: white; }

.grid-large {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5px; }
  .grid-large .full-width {
    position: relative;
    grid-column: 1/3; }
  .grid-large .half-width {
    position: relative;
    grid-column: span 1; }
