@font-face {
  font-family: 'GT Walsheim Regular';
  src: url("../fonts/GT-Walsheim-Regular.ttf");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'GT Walsheim Bold';
  src: url("../fonts/GT-Walsheim-Bold.ttf");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'GT Walsheim Medium';
  src: url("../fonts/GT-Walsheim-Medium.ttf");
  font-weight: 700;
  font-style: normal; }

body, html {
  font-family: 'GT Walsheim Medium';
  margin: 0;
  padding: 0;
  height: 88%;
  background: white; }

footer {
  background: #555;
  color: #d7d7d2;
  font-size: 1.5em;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 12%; }
  footer.overlay {
    -webkit-filter: blur(3px);
            filter: blur(3px); }
  footer a {
    cursor: pointer;
    color: #d7d7d2;
    text-decoration: none; }
    footer a:visited {
      color: #d7d7d2;
      text-decoration: none; }
  footer .nav-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
    height: 70%;
    position: relative;
    bottom: 0; }
    footer .nav-menu a {
      display: block;
      background: #413746;
      text-align: center;
      -ms-flex-line-pack: center;
          align-content: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      font-size: 2.0vh;
      line-height: 400%;
      height: 100%;
      width: 20%; }
      footer .nav-menu a:hover {
        background: #d7d7d2;
        color: #413746; }
  footer .handlekurv-menu {
    position: relative;
    -webkit-box-shadow: 0 15px 75px rgba(0, 0, 0, 0.2);
            box-shadow: 0 15px 75px rgba(0, 0, 0, 0.2);
    background: #d7d7d2;
    width: 100%;
    top: 0;
    height: 40%;
    line-height: 220%; }
    footer .handlekurv-menu #handlekurv-icon {
      position: absolute;
      width: 1.2em;
      height: 1.2em;
      top: 20%;
      left: 0;
      margin-left: 5%; }
    footer .handlekurv-menu .handlekurv-name {
      position: absolute;
      left: -10%; }
    footer .handlekurv-menu .handlekurv-price {
      position: absolute;
      text-align: right;
      padding: 0 10px;
      width: 20%;
      right: 3%; }
    footer .handlekurv-menu p {
      display: inline-block;
      width: 80%;
      padding: 0 10px;
      margin: 0;
      color: #2d2832; }

.grid-large {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5px; }
  .grid-large .full-width {
    position: relative;
    grid-column: 1/3; }
  .grid-large .half-width {
    position: relative;
    grid-column: span 1; }

.planner-grid {
  position: relative;
  margin-top: 3.5%;
  display: grid;
  font-size: 1.5vh;
  text-align: center; }
  .planner-grid .planner-header {
    display: inline-grid;
    grid-row: 1;
    grid-template-columns: 1fr 1fr 14fr 2fr 2fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-bottom: 1px solid #d7d7d2;
    padding-bottom: 2%; }
    .planner-grid .planner-header .img {
      width: 50%;
      height: 50%; }
    .planner-grid .planner-header .header-text {
      font-size: 2.7vh;
      margin-left: 10%; }
    .planner-grid .planner-header #pil-icon {
      height: 45%; }
    .planner-grid .planner-header h1 {
      margin: .5em 0 .25em; }
  .planner-grid .category-container {
    position: fixed;
    margin: auto;
    height: 80vh;
    width: 92%;
    background-color: red; }
  .planner-grid .information-view {
    position: relative;
    background-color: white;
    height: 60vh;
    margin: 0 auto;
    width: 99.2%;
    top: 2vh;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px; }
  .planner-grid .search-title {
    position: relative;
    z-index: 2;
    font-size: 2.6vh; }
  .planner-grid .search-container {
    position: relative;
    margin: 0 auto;
    height: 5vh;
    width: 90%;
    background-color: #f0f0ec;
    border-radius: 40px;
    font-size: 2.3vh; }
