.selector-group-input {
  position: absolute;
  visibility: hidden;
  display: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
  .selector-group-input:checked + label {
    color: white;
    background: #ffa51e; }

.selector-group-label {
  height: 100%;
  width: 100%;
  color: #ffa51e;
  text-align: center;
  line-height: 45px;
  font-size: 2em;
  display: block;
  cursor: pointer;
  font-weight: bold; }

.selector-group-label + .selector-group-input + .selector-group-label {
  border-left: solid 4px #ffa51e; }

.selector-group-wrapper {
  height: 60px;
  width: 600px;
  border: solid 6px #ffa51e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 30px;
  overflow: hidden; }
