@import "./imports/colors.sass"

.shadow
  position: fixed
  top: 0
  bottom: 0
  left: 0
  right: 0
  background: #333
  opacity: 0
  z-index: 999
  transition: 300ms ease-in-out
  pointer-events: none

  &.show
    opacity: 0.05

.side-overlay
  position: fixed
  height: 100%
  width: 59%
  background: $white
  border-left: 1px solid $Varmgra
  top: 0
  right: -59%
  z-index: 1000
  transition: right 500ms ease-in-out

  .burger-choice
    display: grid
    grid: auto / repeat(2, 1fr)
    text-align: center

  h2
    margin: 0 10%
    font-size: 1.7em
    border: 2px solid $Lys-varmgra

  &.show
    right: 0

.shoppinglist-container
    width: 90%
    margin: 0 auto

.container
  &.overlay
    filter: blur(3px)

.burger
  height: 50px
  width: 70px
  display: flex
  flex-direction: column
  justify-content: space-around
  position: absolute
  right: 60px
  font-size: 1em
  color: $sort-aubergine
  z-index: 2000

  div
    width: 100%
    height: 7px
    background: $sort-aubergine
    border-radius: 3px
    transition: 300ms ease-in-out

  &.close
    div:nth-child(2)
      opacity: 0

    div:nth-child(1)
      transform: translateY(16.5px) rotate(45deg)
    div:nth-child(3)
      transform: translateY(-16.5px) rotate(-45deg)