@import "./imports/colors.sass"

hr
  width: 100%

.calendar-title
  text-align: center
  font-size: 2.7em
  color: rgb(0, 0, 0)
  font-weight: 100
  margin-bottom: -2%

.calendar-text
  width: 100%
  text-align: center
  font-size: 2.8vh
  margin-top: 5%

  p
    margin: 0 auto

.calendar-container
  margin: 5%
  width: 90%
  height: 52%
  background-color: $Lys-varmgra
  position: absolute
  border-radius: 20px

.date-containar
  margin: 5% 0
  width: 100%
  display: flex
  align-items: center
  justify-content: center
.pointer
  margin: 0 auto
  font-size: 2.9vh
#previous-pointer
  margin-left: 10%
#next-pointer
  margin-right: 10%

.date-head
  margin: 0 auto
  width: 100%
  text-align: center
  font-size: 2.5vh

.weekdays
  grid-area: weekdays
  display: flex
  justify-content: space-around
  color: grey
  font-size: 2.3vh


#this-year, #this-month
  font-size: 2.7vh
  color: $Varmgra

#this-date
  font-size: 2.7vh
  color: $sort-aubergine
  padding: 1.5%

.cal
  display: grid
  grid-template-areas: "corner weekdays" "weeks  month"
  grid-template-rows: 1fr 7fr
  grid-template-columns: 1fr 5fr
  margin: -30px auto
  width: 90%
  height: 67%
  font-size: 2.3vh
  text-align: center

  .week-label
    grid-area: corner
    color: grey
    font-size: 2.3vh

  .weeks
    grid-area: weeks
    display: grid
    grid: repeat(5, 1fr)/1fr
    align-items: center
    color: grey
    font-size: 2.3vh



  .date
    grid-area: month
    width: 100%
    display: grid
    align-items: center
    grid-template-columns: repeat(7, 1fr)
    grid-template-rows: repeat(5, 1fr)
    color: $sort-aubergine

    div
      height: 2em
      line-height: 2em
      position: relative

      &.inactive
        color: $Varmgra

    .has-list::after
      position: absolute
      content: ''
      width: 10px
      height: 10px
      background: $aubergine
      bottom: -5px
      left: 50%
      border-radius: 10px
      transform: translateX(-50%)

  .today
    position: absolute
    height: 100%
    background: $Mork-aubergine
    color: white
    border-radius: 5px
    margin: 0 5px