@import "./imports/colors.sass"

.category-container
  position: absolute
  top: 100vh
  //vises ved 22.1
  height: 80vh
  width: 100%
  transition: all 300ms ease-in-out

  &.show
    top: 22.1vh

.information-view
  position: relative
  background-color: $white
  height: 60vh
  margin: 0 auto
  width: 99%
  top: -7.5vh
  //-7.5vh
  //top: 6vh når du er inne i selve barnebursdagkategorien
  border-bottom-left-radius:  15px
  border-bottom-right-radius: 15px
  overflow: hidden

.information-header
  width: 100%
  margin-top: 3vh
  height: 6vh
  display: grid
  grid-template-columns: 1fr 8fr 1fr
  justify-items: center
  align-items: center

.information-event-header
  margin-top: 10vh

.back-arrow
  position: relative
  height: 2.5vh

.search-title
  position: relative
  text-align: center
  z-index: 2
  font-size: 2.3vh

.search-container
  position: relative
  top: 1.5vh
  margin: 0 auto
  height: 4.5vh
  width: 90%
  background-color: $Lys-varmgra
  border-radius: 40px
  font-size: 2.2vh
  opacity: 1

.hide-search-container
  opacity: 0

#search-t
  position: relative
  top: 0.7vh
  text-align: left
  left: 7vh
  color: grey
  border: 0
  &:active
    border: 0

.inspiration-container
  position: relative
  margin: 0 auto
  width: 100%
  font-size: 2.2vh
  opacity: 1

.inspiration-border
  display: grid
  grid-gap: 2.5vh
  list-style: none
  overflow-x: scroll
  padding-top: 1vh
  border-top: solid 0.2vh $Lys-varmgra
  grid-template-columns: repeat(5, 5fr)

.inspiration-choise
  position: relative
  top: -1vh
  display: grid
  grid-gap: 2.5vh
  list-style: none
  overflow-x: scroll
  padding-top: 1vh
  border-top: solid 0.2vh $Lys-varmgra
  grid-template-columns: 7.5vh auto auto 10vh

.inspiration-container li
  border: $Lys-varmgra 3px solid
  padding: 1vh
  border-radius: 25px

.activeEvent
  background-color: $Lys-varmgra

.inspiration-img
  position: absolute
  top: -10.7vh
  width: 100%
  z-index: 3

.inspiration-filter
  position: relative
  width: 7.5vh
  height: 3.5vh
  right: 2vh

.categories
  position: absolute
  width: 100%
  margin-top: 2vh
  height: 45vh
  list-style: none
  font-size: 2.5vh
  overflow: scroll
  display: grid
  grid-template-rows: repeat(1, 7fr)

  ul
    margin: 0
    padding: 0

.categories li
  display: flex
  position: relative
  margin: 0 auto
  align-items: center
  width: 90%
  text-align: left
  height: 7vh
  border-bottom: 1px solid $Varmgra

.icon-button
  position: absolute
  left: 50%
  transform: translateX(-50%)
  top: -39vh
  width: 10vh
  height: 10vh
  background-color: $eggeplomme
  border-radius: 50%
  z-index: 2
  transition: all 300ms ease-in-out

  &.change-button
    background-color: $white
    width: 12vh
    height: 12vh
    top: -10.7vh

    .pluss-icon
      opacity: 0

  .pluss-icon
    position: absolute
    height: 35%
    top: 0
    right: 0
    transition: all 300ms ease-in-out

.button-white
  position: absolute
  left: 2vh
  top: 1vh
  width: 55%
  height: 50%
  opacity: 0

.show-button
  opacity: 1

.add-product-button
  position: absolute
  left: 1vh
  top: 1.5vh
  height: 60%
  width: 70%
  opacity: 1

.hide-button
  opacity: 0

.changeButton
  display: none

.recipe-container
  position: absolute
  width: 100%
  top: 19vh
  overflow: scroll
  height: 28vh

.recipe
  margin: 0 auto
  width: 96%
  height: 24vh
  display: grid
  grid-template-rows: 13vh 4vh 3vh

.recipe img
  margin: 0 auto
  width: 100%
  height: 15vh
  border-radius: 25px
  object-fit: cover

.recipe-title
  font-size: 2.7vh

.recipe-description
  font-size: 2.3vh
