@import "./imports/colors.sass"

.planner-grid
  position: relative
  width: 90%
  margin: 0 auto
  display: grid
  margin-top: 3.5vh
  grid: 12% / repeat(8, 1fr)
  text-align: center
  grid-gap: .5%
  grid-template-areas: "pil . text text text text chat handleliste"

  img
    height: 100%
    width: auto

  #pil-icon
    grid-area: pil
    margin: 0 auto

  .header-text
    grid-area: text
    font-size: 3em
    margin: 0

  #chat-icon
    grid-area: chat
    margin: 0 auto

  .handleliste-icon
    grid-area: handleliste
    margin: 0 auto