@import "./imports/colors.sass"

.planner-grid
  position: relative
  margin-top: 3.5%
  display: grid
  font-size: 1.5vh
  text-align: center

  .planner-header
    display: inline-grid
    grid-row: 1
    grid-template-columns: 1fr 1fr 14fr 2fr 2fr
    align-items: center
    justify-content: center
    border-bottom: 1px solid $Varmgra
    padding-bottom: 2%

    .img
      width: 50%
      height: 50%

    .header-text
      font-size: 2.7vh
      margin-left: 10%

    #pil-icon
      height: 45%

    h1
      margin: .5em 0 .25em
