@import "./imports/colors.sass"
@import "./product-item.sass"

.content
  margin: 0
  position: fixed
  top: 9%
  height: 79%
  width: 100%

.week-container
  position: relative
  height: 95%
  margin: 1.1em 1.5em
  padding: 0.5em 0
  background: $Lys-varmgra
  border-radius: 15px

.week-header
  position: relative
  height: 18%
  width: 100%

.week-datename
  text-align: left
  font-size: 2.1vh
  padding: .5em .5em
  margin: 0 .5em
  color: $Mork-aubergine

.week-list
  background-color: $white
  height: 82.7%
  margin: 0 auto
  width: 99.2%
  position: relative
  border-bottom-left-radius:  15px
  border-bottom-right-radius: 15px
  overflow: scroll

li#vare
  display: flex
  position: relative
  margin: 0 auto
  align-items: flex-end
  font-size: 2.2vh
  width: 90%
  text-align: left
  height: 15%
  border-bottom: 1px solid $Varmgra

.week-days
  font-size: 2.3vh
  text-align: center
  margin: .10em
  margin-top: -1.5%

.this-week
  font-size: 2.3vh
  margin: 0

.week-days ul
  list-style: none
  padding: 0 .5em
  margin: 0
  color: grey
  display: inline-grid
  width: 100%
  grid-template-columns: repeat(8, 1fr)
  grid-template-rows: repeat(2, 1fr)

.chosen-day
  color: white
  position: relative
  z-index: 2

  &::after
    content: ''
    position: absolute
    background: $Mork-aubergine
    width: 90%
    height: 100%
    bottom: 0
    left: 50%
    z-index: -1
    margin: 0 auto
    transform: translateX(-50%)
    border-radius: 5px
